* {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
}
#loaderHomePage{
     position: absolute;
     top: 200px;
     left: 45%;
     font-size: 50px;
}

#navigation {
     height: 100%;
     width: 100%;
}

nav {
     display: flex;
     justify-content: center;
     height: 200px;
     width: 100%;
     z-index: -1;
}

#starwar {
     height: 100%;
     width: 300px;
}

#solar {
     height: 100%;
     width: 100%;
}

@media screen and (max-width:1100px) {
     #solar {
          display: none;
          visibility: hidden;
     }

     


}

@media screen and (max-width:1470px) {
     #card_division>video {
          display: none;
     }
}


#card_division {
     width: 100%;
     height: 100%;
     object-fit: cover;
}



#view {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     flex-wrap: wrap;
     /* background-color: rgb(61, 211, 38); */
     width: 100%;
     height: 100vh;

}

#boxs {
     height: 300px;
     width: 250px;
     border: 1px solid black;
     margin: 25px 25px;
     background-color: white;
     box-sizing: border-box;
}

#boxs>table {
     /* background-color: red; */
     width: 100%;
     height: 90%;
     /* font-size: 17px; */
}

#boxs>table>tbody>tr>td {
     /* border: 1px solid black;  */
     border-bottom: 1px solid black;
     padding: 5px 10px;
     box-sizing: border-box;
}

#viewButt {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-top: 4px;
}

#viewButt>button {
     font-size: 20px;
     background-color: red;
     border: none;
     cursor: pointer;
     border-radius: 5px;
}
#viewButt>button:hover
{
     background-color:rgb(71, 8, 8)
}
button>a {
     text-decoration: none;
     color: white;
     padding: 3px 73px;
}


#boxs {
     background-color: rgba(255, 255, 255, 0.605);
     /* Background color with some transparency */
     margin: 20px;
     padding: 10px;
     border-radius: 10px;
     box-shadow: 0 0 20px white;
     border: none;
}


#viewbutton {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

#viewbutton button:hover{
     box-shadow: 0 0 20px white;
     transform: scale(1.1);
}
/* Style for the Previous and Next buttons */
#viewbutton>button {
     background-color: black;
     font-size: 30px;
     margin: 0px 20px 0px 20px;
     border: none;
     border-radius: 100%;
     cursor: pointer;
     transition: 0.2s;
     outline: none;
}

/* #viewbutton>button:hover {
     background-color: #005E80;
     transform: scale(1.08);
} */

#demoing {
     position: absolute;
     z-index: -1;
     /* background-size: cover; */
     background-size: 100%;
     border: 5px solid black;
     height: 100vh;
     width: 100%;
     object-fit: cover;
}
#previous,#next{
     color: green;
}